G'day {{buyer.name}},

This round of coffee roulette you've been paired with {{organiser.name}} from {{organiser.organisation}}. 

They will contact you to arrange a venue, your only job this month is to buy the coffee!

Have fun!
Coffee Roulette

PS. Perhaps add the {{organiser.email}} to your address book to make sure they doesn't get flagged as spam.
