G'day {{you.name}},

Unfortunatly for this round of coffee roulette we weren't able to pair you with someone. 

Rest assured, we should be able to find you someone next time; in the meantime, buy yourself a coffee and have a relaxing time somewhere.

Cheers,
Coffee Roulette
